/* #form {
    margin: 50px 100px 50px 100px;
    background-color: yellow;
    padding: 50px;
    position: relative;
}

.contain {
    margin: 30px;
    position: relative;
}

label {
    padding-left: 25%;
    width: 40%;
    margin-right: 100px;
}

#submit {
    width: 200px;
    height: 40px;
    margin-right: 20px;
    margin-left: 60%;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #001eff;
    color: white;
}

#date,
#time {
    background-color: #8debeb;
}

#clear {
    width: 200px;
    height: 40px;
    margin-right: 50px;
    margin-top: 50px;
    background-color: yellow;
}

input,
textarea,
select {
    padding-left: 10px;
    position: absolute;
    right: 30%;
    border: none;
}

select {
    width: 175px;
}

option {
    text-align: center;
    padding-left: 45%;
    float: center;
}

input:focus,
textarea:focus,
select:focus {
    
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#adrs {
    height: 80px;
    padding-top: 10px;
}

#msg {
    text-align: center;
    color: green;
    margin: 5px 20px 5px 20px;
    border: 3px solid greenyellow;
    display: none;
}

@media screen and (max-width: 700px) {
    label {
        padding-left: 0;
    }
    input,
    textarea,
    select {
        right: 20px;
    }
} */