body {
    background-color: #152238
}

#header {
    width: 100% auto;
    height: auto;
    /*background-color: #f1c40f;*/
    background-color: #f0f4ff;
    margin: 10px auto;
    border-radius: 10px;
    position: relative;
}

#logo {
    width: 10%;
    height: auto;
    margin: 10px;
    z-index: +10px;
}

#Navbar {
    background-color: #ceceffd0!important;
}

h1 {
    color: white;
    opacity: 0.7;
    margin: 40px;
    font-family: 'Kaushan Script';
    font-size: 70px;
}

#siteName {
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 40px;
}

#brand {
    color: black;
    opacity: 1;
    margin: 0;
    font-family: 'Ceviche One';
    font-size: 50px;
}

#tagline {
    font-family: 'Dynalight';
    font-size: 35px;
    text-align: center;
    margin: -20px;
}

@media only screen and (max-width: 600px) {
    #siteName {
        top: 50%;
        right: 15px;
    }
    #brand {
        font-size: 25px;
    }
    #tagline {
        font-size: 20px;
        margin: -5px;
    }
}

.itemCode {
    background-color: yellow;
    margin-top: 10px;
    width: 80%;
}

#img {
    width: 100%;
    height: auto;
    position: absolute;
}

#con {
    padding-left: 100px;
    margin-top: 20px;
}

.cardT {
    background-color: hsl(0, 0%, 100%, 0.5);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: 'Inknut Antiqua';
    font-size: 15px;
}

.cardStyle {
    width: 100%;
    margin: 10px;
    padding: 10px
}

.cardStyle:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.1);
}

.modalBody {
    position: absolute;
    right: 20px;
    top: 40%;
    background-color: hsl(0, 0%, 100%, 0.4);
    padding: 10px;
    border-radius: 20px;
}

.modalBody:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: hsl(0, 0%, 100%, 0.7);
}

.productImg {
    position: relative;
    border-radius: 10px;
}

.productImg:hover {
    box-shadow: 5px 10px 8px hsl(0, 0%, 100%, 0.5);
    border: 2px solid #5cace2;
    transition-duration: 2s;
}

.productDetails {
    position: absolute;
    bottom: 10px;
    left: 35%;
    text-align: center;
}

.cardImage {
    height: 300px;
}

.price {
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: hsl(60, 100%, 50%, 0.7);
    border-radius: 200px;
    padding: 10px;
    margin: 5px;
    display: none;
}

#goTop {
    position: fixed;
    right: 50px;
    bottom: 20px;
    background-color: white;
}

.foot {
    height: 400px;
    background-color: #ecf0f1;
    border-radius: 10px;
    margin-top: 150px;
}